.projectGallery {
    position: relative;
    height: calc(100vh - 20vh);
}

.galley {
    width: 100%;
    /* height: calc(100vh - 20vh); */
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.wickretMockup {
    background: url(https://res.cloudinary.com/cdacs/image/upload/v1607420262/Portfolio%20Assets/mockup-of-a-man-using-a-macbook-in-a-cozy-living-room-2324-el1_h7fv39.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.busvestMockup {
    background: url(https://res.cloudinary.com/cdacs/image/upload/v1607433942/Portfolio%20Assets/billboard-on-the-city_fdxoge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.XOMockup {
    background: url(https://res.cloudinary.com/cdacs/image/upload/v1607435306/Portfolio%20Assets/Screenshot_2020-12-08_Tic_Tac_Toe_n9gwqn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}



/***************************************** MEDIA QUERY *****************************************/

@media screen and (max-width: 1134px) {
    .projectGallery {
        height: auto;
    }
}