.Logo {
    height: 50px;
    width: 50px;
    background-image: url(https://res.cloudinary.com/cdacs/image/upload/v1607352499/Portfolio%20Assets/iconfinder_06-halloween-web-spider-scarry-_6973614_t5iow2.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.logoContainer {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.logoContainer:visited {
    color: #ec3454;
}

.logoContainer span {
    font-weight: 600;
    font-size: 23px;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    padding: 0 30px;
    background-color: rgb(243, 243, 243);
    z-index: 200;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    padding: .6rem 1rem;
    transition: all 0.2s ease;
    text-decoration: none;
    border-radius: 4px;
    color: hsla(0, 0%, 0%, 0.8);
    font-size: 14px;
}

nav ul li a:hover {
    background-color: #ec3454;
    color: white;
}

.hamburger {
    background: url(https://res.cloudinary.com/cdacs/image/upload/v1607338370/Portfolio%20Assets/iconfinder_hamburgermenu_3688469_xbkx2w.svg);
    background-color: #f7f7f7;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 35px;
    width: 35px;
    right: 35px;
    display: none;
    transition: all 0.2s ease;
}

.closeHamburger {
    background: url(https://res.cloudinary.com/cdacs/image/upload/v1607352499/Portfolio%20Assets/iconfinder_00-ELASTOFONT-STORE-READY_close_2703079_wdyl4o.svg);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 20px;
    width: 20px;
    right: 35px;
    display: none;
    transition: all 0.2s ease;
}

.hamburger,
.closeHamburger:focus {
    outline: none;
}

/******************************************* MEDIA QUERIES *******************************************/

@media all and (max-width: 768px) {

    nav ul li {
        padding: 15px 30px;
    }

    .hamburger,
    .closeHamburger {
        display: initial;
    }

    .logoContainer span {
        opacity: 0;
    }

}